@{
    ViewData["Title"] = "Login Page";

    var returnUrl = ViewData["ReturnURL"] as string;
    var error = TempData["Error"] as string;

    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        @if (!string.IsNullOrEmpty(error))
        {
            <h2 class="alert-danger" style="padding: 10px;">@error</h2>
        }
        <form action="/login?ReturnURL=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
            <div class="form-group">
                <label for="inputEmail">Email address *</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" onfocusout="this.value = removeSpaces(this.value);" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password *</label>
                <input type="password" class="form-control" id="inputPassword" name="password" onfocusout="this.value = removeSpaces(this.value);" required>
            </div>
            <div class="form-group text-center">
                <label>Dont have an account? <a asp-action="RegisterUser" asp-controller="Login">Click here to Register.</a></label>
            </div>
            <div class="text-center">
                <button type="submit" formmethod="post" class="btn btn-secondary btn-lg">Login</button>
            </div>
        </form>
        <script language="javascript" type="text/javascript">
        function removeSpaces(string) {
            return string.split(' ').join('');
        }
        </script>
    </body>
</html>
}
